* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;

}



/*mobil*/
@media (max-width: 600px) {

    header {
        background-color: #E8D8CD;

    }

    header {
        display: block;

    }


    .topbar {
        display: grid;
        grid-template-columns: 1fr 1fr 50px;

    }

    .toggle {
        display: none;
    }


    #knap {
        grid-column-start: 3;
        margin-top: 0;
        text-align: center;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }




    nav a {
        line-height: 1.2rem;
        display: block;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
    }


    .overskrift h1 {
        padding-top: 15px;
        padding-left: 20px;
        float: left;
        display: inline-flex;
        font-size: 20px;
        text-decoration: none;
        color: white;
    }


    a:hover {
        color: #ED5242;
    }

    h1:hover {
        color: #ED5242;
    }


    #knap:hover {
        color: #ED5242;
    }

}




/*desktop*/
@media (min-width: 600px) {

    header {
        background-color: #E8D8CD;

    }

    header {
        display: block;

    }


    .topbar {
        display: grid;
        grid-template-columns: 1fr 1fr 50px;
        padding-top: 40px;

    }

    .overskrift h1 {
        padding-top: 60px;
        padding-left: 20px;
        float: left;
        display: inline-flex;
        font-size: 40px;
        text-decoration: none;
        color: white;
        font-family: 'Poppins', sans-serif;
    }




    nav {
        display: block;
        text-align: right;
        margin-right: 30px;


    }

    nav a {
        display: inline-flex;
        padding: 15px;
        padding-top: 30px;
        text-decoration: none;
        color: white;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;


    }


    p {
        display: none;
    }

    a:hover {
        color: #ED5242;
    }

    h1:hover {
        color: #ED5242;
    }

    #knap:hover {
        color: #ED5242;
    }


}
